body{
    margin: 0;
    padding: 0;
    background: #081b29;
    scroll-behavior: smooth;
    overflow-x: none;
}

.parallax{
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
   
}


h1{
    margin:0;
    font-family: 'Poppins';
}

.parallax .sky{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: url(../media/parallax/Sky.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.parallax .work{
    position: absolute;
    text-align: center;
    font-size: 4rem;
    color: #081b29;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(200%);
    z-index: 1;
}
.parallax .mountain-back{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Mountain-back.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.parallax .name{
    position: absolute;
    font-size: 4rem;
    color: #ededed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    z-index: 3;
}
.parallax .mountain{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Mountain.png);
    background-position: center;
    background-size: cover;
    z-index: 4;
}
.parallax .arbol-b{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-back.png);
    background-position: center;
    background-size: cover;
    z-index: 5;
}
.parallax .arbol-m{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-mid.png);
    background-position: center;
    background-size: cover;
    z-index: 6;
}
.parallax .arbol-f{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-front.png);
    background-position: center;
    background-size: cover;
    z-index: 7;
}
.parallax .casa{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/casa-nosmoke.png);
    background-position: center;
    background-size: cover;
    z-index: 8;
}
.parallax .smoke{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/chimney.gif);
    background-position: center;
    background-size: cover;
    z-index: 8;
}
.parallax .casa-light{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/casa-light.png);
    background-position: center;
    background-size: cover;
    z-index: 8;
    opacity: 0;
    transition: opacity 0.75s ease; 
}
.parallax .arbol-ff{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-front-front.png);
    background-position: center;
    background-size: cover;
    z-index: 9;
}

#alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

.experience{
    border-radius: 2.5rem 1rem; 
    background-color: #0a2335; 
    margin-top: 1rem;
    padding: 20px;
    color: #ededed;
    text-align: center ;
    margin-bottom: 1rem;
}


/* estrellas fugaces */
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3){
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
span:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
span:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}
