.parallax{
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
   
}

.parallax .sky{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: url(../media/parallax/Sky.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.parallax .work{
    position: absolute;
    text-align: center;
    font-size: 4rem;
    color: #081b29;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(200%);
    z-index: 1;
}
.parallax .mountain-back{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Mountain-back.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.parallax .name{
    position: absolute;
    font-size: 4rem;
    color: #ededed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    z-index: 3;
}
.parallax .mountain{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Mountain.png);
    background-position: center;
    background-size: cover;
    z-index: 4;
}
.parallax .arbol-b{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-back.png);
    background-position: center;
    background-size: cover;
    z-index: 5;
}
.parallax .arbol-m{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-mid.png);
    background-position: center;
    background-size: cover;
    z-index: 6;
}
.parallax .arbol-f{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-front.png);
    background-position: center;
    background-size: cover;
    z-index: 7;
}
.parallax .casa{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/casa-nosmoke.png);
    background-position: center;
    background-size: cover;
    z-index: 8;
}
.parallax .smoke{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/chimney.gif);
    background-position: center;
    background-size: cover;
    z-index: 8;
}
.parallax .casa-light{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/casa-light.png);
    background-position: center;
    background-size: cover;
    z-index: 8;
    opacity: 0;
    transition: opacity 0.75s ease; 
}
.parallax .arbol-ff{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../media/parallax/Arbol-front-front.png);
    background-position: center;
    background-size: cover;
    z-index: 9;
}

