body {
  margin: 0;
  padding: 0;
  background: #081b29;
  scroll-behavior: smooth;
  overflow-x: none;
  color: #ededed;
}

h1 {
  margin: 0;
  font-family: "Poppins";
}

#alert-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #00abf0;
  border-radius: 20px;
  background: #00abf0;
  font-weight: bold;
  color: #081b29;
  cursor: pointer;
  user-select: none;
}
.toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: #ededed;
  transition: all 0.3s;
}
.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}
.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}
.toggleCheckbox {
  display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child {
  color: #ededed;
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
  color: #081b29;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
  color: #081b29;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
  color: #ededed;
  transition: color 0.3s;
}
.experience-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
}
.skills {
  display: none;
}

.projects{
  flex-wrap: nowrap !important;
  align-items: center !important;
}

.btn-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover{
  color: #00abf0;
}

.btn-box a:nth-child(2){
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover{
  color: #081b29;
}

.btn-box a:nth-child(2)::before{
  background: #00abf0;
}

.btn-box a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before{
  width: 100%;
}